<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout.html}">
<head>
    <title>Pop's Resto</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="container my-5">
        <div class = "justify-content-start my-2 mb-2">
            <h2 class="p-3 mb-2 text-center">Order</h2>
        </div>
        <form th:action="@{/order/addOrder}" th:object="${orderRequestDto}" method="post">
            <div class="container my-5">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Menu</label>
                        <select  class="form-control" name="menuId" required>
                            <div th:each="menu : ${Menus}">
                                <option th:value="${menu.menuId}" th:text="${menu.menuName}"></option>
                            </div>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Table</label>
                        <select class="form-control" name="tableId" required>
                            <div th:each="table : ${Tables}">
                                <option th:value="${table.tableId}" th:text="${table.tableNumber}"></option>
                            </div>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Food Description</label>
                        <input type="text" class="form-control" name="orderDescription" placeholder=" " >
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Quantity</label>
                        <select class="form-control" name="quantity" required>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="container my-5">
                <button class="btn btn-outline-success" type="button" data-toggle="modal" th:data-target="'#confirmBuyProduct'" href="">
                    Order
                </button>

                <div class="modal fade" th:id="'confirmBuyProduct'" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Confirmation</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Are you sure want to order this item?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                                <a th:href="@{detail-order}">
                                    <button type="submit" class="btn btn-outline-success">Order</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <a href="/pop/order/viewOrder" class="btn btn-outline-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>